@model GlassyStore.Models.OrderItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LensOptionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LensOptionId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LensOption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LensOption)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrescriptionSphereLeft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrescriptionSphereLeft)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrescriptionSphereRight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrescriptionSphereRight)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrescriptionCylinderLeft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrescriptionCylinderLeft)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrescriptionCylinderRight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrescriptionCylinderRight)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PupillaryDistance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PupillaryDistance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderItemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
