@model IEnumerable<GlassyStore.Models.LensOption>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create" class="btn btn-success">
            Add LensOption
        </a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceModifier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItems)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Type)
            </td>
            <td>
                @Html.DisplayFor(model => item.Material)
            </td>
            <td>
                @Html.DisplayFor(model => item.Coating)
            </td>
            <td>
                @Html.DisplayFor(model => item.PriceModifier)
            </td>
            <td>
                @Html.DisplayFor(model => item.OrderItems)
            </td>
            <td>
                    <a asp-action="Details"
                       asp-route-lensoptionid="@item.LensOptionId"
                       class="btn btn-info btn-sm">
                        Details
                    </a>

                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit"
                           asp-route-lensoptionid="@item.LensOptionId"
                           class="btn btn-warning btn-sm">
                            Edit
                        </a>

                        <a asp-action="Delete"
                           asp-route-lensoptionid="@item.LensOptionId"
                           class="btn btn-danger btn-sm">
                            Delete
                        </a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
